:root {
    --blue: #156e98
}


body {
    font-family: "Montserrat", sans-serif;

}

img {
    width: 100%;
}

.container {
    width: 65%;
    margin: auto;
}

p,
li,
a {
    line-height: 1.4;
    font-size: 17px;
    margin: 0;
}



header {
    border-bottom: 7px solid var(--blue);
}

header img {
    width: 15%;
    margin: auto;
    display: block;
    padding: 25px 0;
}

.hero img {
    width: 50%;
    margin: auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px auto;
}




.title {
    font-size: 24px;
    color: var(--blue);
    font-weight: 800;
}

h1 {
    color: var(--blue);
    font-size: 30px;

}


.first-easy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin: 40px auto;
}

.second-easy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    margin: 80px auto;
    align-items: center;

}

.center {
    text-align: center;
}

.product {
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px auto;
}


.banner {
    width: 35%;
    margin: 40px auto;
}

.second-easy h3 {
    text-align: center;
    margin-top: 20px;

}

.second-div {

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;

}


.first-easy div h3 {
    text-align: center;
    color: var(--blue);

}

.first-easy div p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    text-align: center;
}

.first-easy div {
    position: relative;

}

.back {
    filter: brightness(50%);

}

.product ul {
    margin-left: 20px;
}

.product ul li {
    list-style-type: disc;
}

.easy {
    margin: 80px auto;
    background-color: rgba(128, 128, 128, 0.185);
    padding: 40px 0;

}


video {
    width: 100%;
    margin: 70px auto;
}


.cta {
    color: white;
    background-color: var(--blue);
    font-size: 20px;
    padding: 15px 30px;
    margin: 20px 0;
    display: block;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.easy h2 {
    border-bottom: var(--blue) 2px solid;
    padding-bottom: 10px;
    text-shadow: var(--blue) 0.1px 0 2px;

}

.sw {
    margin: 40px auto;
    padding: 50px 0;
}

.swiper-slide p {
    margin-top: -90px;
    background-color: rgba(255, 255, 255, 0.779);
    z-index: 2;
    position: relative;
    padding: 10px 15px;
    font-weight: 500;
}

.swiper {
    padding: 40px 0;
}



/* FAQ */
.faq {
    background-color: #83838329;
    padding: 25px;
    color: var(--blue);
}

.faq h3 {
    font-size: 25px;
}

.q {
    font-weight: 600;
    border-bottom: var(--blue) 1px solid;
    padding: 15px 0;
    cursor: pointer;
}

.a {
    display: none;
    margin-top: 10px;

}


.review {
    margin: 70px auto;
    position: relative;
}

.review .div-review {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.comm {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 20px;
}

.verif {
    width: 25px;
}

.verif-div {
    display: flex;
    align-items: center;
}

.verif-div p {
    font-size: 14px;
    color: rgb(75, 75, 75);
    margin: 7px 0;
}

.comm {
    margin: 20px 0;
}


/* order */

.order {
    /* display: grid;
    grid-template-columns: 700px 1fr;
    gap: 50px; */
}

.sw-last img {
    display: block;

    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}

/* label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

.radio {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.radio-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.free {
    text-align: center;
    border: 2px dashed #005280;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    padding: 7px 0;
    width: 30%;
    margin: auto;
    margin-bottom: 30px
}

.order-div a {
    background-color: #ee5208;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.sw-div {
    margin: auto 0;
    height: fit-content;
    align-items: center;

}

.sw-2 {
    margin: 25px auto;
}

.swiper {
    height: fit-content;
}

.order-div h3 {
    font-size: 23px;
    text-align: center;
    color: #005280;
    font-weight: 800;
    margin-bottom: 0;
}

.order-div {
    text-align: center;

}

.radio {
    padding: 10px;
    font-weight: 500;
}

.yellow {
    background-color: #f5c14f;
}

label p {
    margin-left: 5px;
}

label p span {
    color: #f26522;
    font-weight: 700;
}

input[type="radio"] {
    accent-color: red;
}

.order {
    margin: 50px auto;
}

.order-stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-stars img {
    width: 100px;
}

.order-stars p {
    margin: 0;
}

.order-div a {
    display: block;
    width: 30%;
    margin: 20px auto;
}

.price {
    font-weight: 700;
    color: red;
    font-size: 20px;
    text-decoration: underline
}

.order-bullets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
}

.order-content {
    margin: auto;
    text-align: center;
}

.order-content img {
    width: 80px;
}

.order-content p {
    margin: 0;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
select {
    margin: 5px 0;
    padding: 5px;
}

.mySwiper .swiper-wrapper {
    display: flex;
    flex-direction: column;
}


/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}


.sw-div {
    display: grid;
    grid-template-columns: 800px 400px;
    align-items: center;
    justify-content: center;

}

.mySwiper,
.mySwiper2 {
    width: 100%;
}



/* ORDER */


.order-header {
    border-bottom: none;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 40px; */
}

.right-div {
    background-color: rgb(233, 233, 235);
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}

.right {
    width: 60%;
    margin: 25px 0;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin: 25px 0;

}

form {
    width: 60%;

}

.order-hr {
    margin: 0;
}