:root {
    --blue: #156e98
}


body {
    font-family: "Montserrat", sans-serif;

}

img {
    width: 100%;
}

.container {
    width: 65%;
    margin: auto;
}

p,
li,
a {
    line-height: 1.4;
    font-size: 17px;
    margin: 0;
}



header {
    border-bottom: 7px solid var(--blue);
}

header img {
    width: 15%;
    margin: auto;
    display: block;
    padding: 25px 0;
}

.hero img {
    width: 50%;
    margin: auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px auto;
}




.title {
    font-size: 24px;
    color: var(--blue);
    font-weight: 800;
}

h1 {
    color: var(--blue);
    font-size: 30px;

}


.first-easy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin: 40px auto;
}

.second-easy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    margin: 80px auto;
    align-items: center;

}

.center {
    text-align: center;
}

.product {
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px auto;
}


.banner {
    width: 35%;
    margin: 40px auto;
}

.second-easy  h3{
    text-align: center;
    margin-top: 20px;

}

.second-div {

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;

}


.first-easy div h3 {
    text-align: center;
    color: var(--blue);
    text-shadow: var(--blue) 0.4px 0 4px;

}

.first-easy div p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    text-align: center;
}

.first-easy div {
    position: relative;

}

.back {
    filter: brightness(50%);

}

.product ul {
    margin-left: 20px;
}

.product ul li {
    list-style-type: disc;
}

.easy {
    margin: 80px auto;
}


video {
    width: 100%;
    margin: 70px auto;
}
 

.cta{
    color: white;
    background-color: var(--blue);
    font-size: 20px;
    padding: 15px 30px;
    margin: 20px 0;
    display: block;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    font-weight: 800;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}